@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.note-container {
  height: 100%;
  margin-left: 3vw;
  padding: 15px;
  width: 100%;
}
.note-container h2 {
  font-size: 2.7rem;
  font-family: "Poppins";
  margin-bottom: 14px;
  margin-left: 1rem;
}
.note-container-notes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 90%;
  overflow-y: scroll;
}
.note-container-note {
  margin: 10px;
}
